<section class="pt-5 pb-3" *ngIf="lectures && lectures.length > 0">
  <div class="container-fluid px-3">
    <h2 class="Continue-learning fw-bold">
      {{ "secondHome.Continue learning" | transloco }}
    </h2>

    <div class="container-fluid mt-4">
      <div class="scroll-container"
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd()"
        (mousemove)="onMouseMove($event)">

        <div class="scroll-content d-flex">
          <div class="card lecture-card" *ngFor="let item of lectures"
          (click)="goToCourseDetails(item)" style="cursor: pointer;" >
            <div class="row g-0">
              <div class="col-md-12 video-thumbnail w-100">
                <div class="vid-img">
                  <img alt="" [src]="item.thumbnailUrl" style="width: 100%;height: 250px;">
                </div>
                <div class="play-icon">
                  <i class="fa-solid fa-play"></i>
                </div>
              </div>
              <div class="col-md-12 card-body">
                <h5 class="card-title"> {{ item.title }}</h5>
                <p class="card-text small">{{ item.description }}</p>

                <!-- <p class="lecture-meta">
                  <strong>Lecture</strong> {{ item.duration }} min
                </p> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

