<section>
  <div class="container py-5">
    <h2 class="text-center header-h2 py-4">{{ "home.fourth-section-home.join thousands of learners achieving their goals." | transloco }}</h2>

    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="active carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="testimonial-card">
                            <div class="card-pic">
                              <img src="assets/1.png" alt="Daniela">
                            </div>
                            <img src="assets/Ribbon.png" alt="stars">
                            <h5 class="text-primary">
                              {{ "home.fourth-section-home.daniela Turk" | transloco }}
                            </h5>
                            <p class="fw-bold">
                              {{ "home.fourth-section-home.business Administration" | transloco }}
                            </p>
                            <p class="text-muted">
                              {{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-primary text-white testimonial-card">
                          <div class="card-pic">
                            <img src="assets/2.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                            <h5>
                              {{ "home.fourth-section-home.ahmed Raouf" | transloco }}
                            </h5>

                            <p class="fw-bold">
                              {{ "home.fourth-section-home.engineering University" | transloco }}
                            </p>
                            <p>{{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/3.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">
                            {{ "home.fourth-section-home.lydia Anas" | transloco }}
                          </h5>
                            <p class="fw-bold">
                              {{ "home.fourth-section-home.frontend Engineer" | transloco }}
                            </p>
                            <p class="text-muted">{{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/1.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">
                            {{ "home.fourth-section-home.omar Khaled" | transloco }}
                          </h5>
                            <p class="fw-bold">
                              {{ "home.fourth-section-home.software Engineer" | transloco }}
                            </p>
                            <p class="text-muted">{{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                      <div class="bg-primary text-white testimonial-card">
                        <div class="card-pic">
                          <img src="assets/2.png" alt="Daniela">
                        </div>
                        <img src="assets/Ribbon.png" alt="stars">
                        <h5> {{ "home.fourth-section-home.ahmed Raouf" | transloco }}</h5>
                          <p class="fw-bold">{{ "home.fourth-section-home.engineering University" | transloco }}</p>
                          <p>{{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                          </p>
                      </div>
                  </div>
                    <div class="col-md-4">
                        <div class="testimonial-card">
                          <div class="card-pic">
                            <img src="assets/3.png" alt="Daniela">
                          </div>
                          <img src="assets/Ribbon.png" alt="stars">
                          <h5 class="text-primary">
                            {{ "home.fourth-section-home.sara Mahmoud" | transloco }}
                          </h5>
                            <p class="fw-bold">
                              {{ "home.fourth-section-home.uI/UX Designer" | transloco }}
                            </p>
                            <p class="text-muted">{{ "home.fourth-section-home.lorem Ipsum is simply dummy text of the printing industry." | transloco }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</section>






 <!-- <div class="container mb-5 mt-5">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

          <div class="active carousel-item">
              <div class="row">
                <div class="col-md-4">
                  <div class="card p-3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img src="assets/1.png" class="card-img-top" alt="Card 4">
                    </div>
                      <div class="card-body">
                          <h5 class="card-title text-center">Card 4</h5>
                          <p class="card-text text-center">Description for card 4.</p>
                      </div>
                  </div>
              </div>
                  <div class="col-md-4">
                      <div class="card bg-card p-3">
                        <div class="d-flex align-items-center justify-content-center">
                          <img src="assets/2.png" class="card-img-top" alt="Card 2">

                        </div>
                          <div class="card-body">
                              <h5 class="card-title text-center text-white">Card 2</h5>
                              <p class="card-text text-center text-white">Description for card 2.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card p-3">
                      <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/3.png" class="card-img-top" alt="Card 4">
                      </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Card 4</h5>
                            <p class="card-text text-center">Description for card 4.</p>
                        </div>
                    </div>
                </div>
              </div>
          </div>

          <div class="carousel-item">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card p-3">
                        <div class="d-flex align-items-center justify-content-center">
                          <img src="assets/1.png" class="card-img-top" alt="Card 4">
                        </div>
                          <div class="card-body">
                              <h5 class="card-title text-center">Card 4</h5>
                              <p class="card-text text-center">Description for card 4.</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-card p-3">
                      <div class="d-flex align-items-center justify-content-center">
                        <img src="assets/2.png" class="card-img-top" alt="Card 2">

                      </div>
                        <div class="card-body">
                            <h5 class="card-title text-center text-white">Card 2</h5>
                            <p class="card-text text-center text-white">Description for card 2.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="card p-3">
                    <div class="d-flex align-items-center justify-content-center">
                      <img src="assets/3.png" class="card-img-top" alt="Card 4">
                    </div>
                      <div class="card-body">
                          <h5 class="card-title text-center">Card 4</h5>
                          <p class="card-text text-center">Description for card 4.</p>
                      </div>
                  </div>
              </div>
              </div>
          </div>

      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>

  </div>
</div> -->

