<section id="portfolio" class="Portfolio mb-5 pt-5">
  <div class="section-head container">
    <h3 class=" py-5">{{"home.secondary-section-home.all the skills you need in one place." | transloco}}</h3>  </div>
  <div class="container-fluid">

    <div class="row p-0 overflow-hidden">

      <div>
<div class="menu-1 py-2">
  <ul
  class="nav nav-pills mb-3 justify-content-center"
  id="pills-tab"
  role="tablist"
>

<li class="nav-item" role="presentation">
  <button
    class="nav-link active"
    id="pills-Development-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Development"
    type="button"
    role="tab"
    aria-controls="pills-Development"
    aria-selected="true"
  >
  {{"home.secondary-section-home.development" | transloco}}  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-Offer-Productivity-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Offer-Productivity"
    type="button"
    role="tab"
    aria-controls="pills-Offer-Productivity"
    aria-selected="false"
  >
    {{"home.secondary-section-home.delivering productivity" | transloco}}
  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-Health-&-Fitness-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Health-&-Fitness"
    type="button"
    role="tab"
    aria-controls="pills-Health-&-Fitness"
    aria-selected="false"
  >
  {{"home.secondary-section-home.health and Fitness" | transloco}}

  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-Marketing-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Marketing"
    type="button"
    role="tab"
    aria-controls="pills-Marketing"
    aria-selected="false"
  >
  {{"home.secondary-section-home.marketing" | transloco}}

  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-Business-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Business"
    type="button"
    role="tab"
    aria-controls="pills-Business"
    aria-selected="false"
  >
  {{"home.secondary-section-home.administration" | transloco}}


  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-Design-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-Design"
    type="button"
    role="tab"
    aria-controls="pills-Design"
    aria-selected="false"
  >
  {{"home.secondary-section-home.design" | transloco}}


  </button>
</li>
<li class="nav-item" role="presentation">
  <button
    class="nav-link"
    id="pills-IT-&-Software-tab"
    data-bs-toggle="pill"
    data-bs-target="#pills-IT-&-Software"
    type="button"
    role="tab"
    aria-controls="pills-IT-&-Software"
    aria-selected="false"
  >
  {{"home.secondary-section-home.information Technology and Software" | transloco}}

  </button>
</li>

  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-Finance-&-Accounting-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-Finance-&-Accounting"
      type="button"
      role="tab"
      aria-controls="pills-Finance-&-Accounting"
      aria-selected="false"
    >
    {{"home.secondary-section-home.finance and Accounting" | transloco}}


    </button>
  </li>






</ul>
</div>

        <div class="tab-content " id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-Development" role="tabpanel" aria-labelledby="pills-Development-tab"
          tabindex="0">
          <div class="row py-5 gy-3 m-0 px-0 overflow-hidden">
            <div>
              <ul class="nav nav-pills mb-3 justify-content-center " id="pills-tab" role="tablist">
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link active" id="JavaScript-tab" data-bs-toggle="pill" data-bs-target="#pills-JavaScript"
                    type="button" role="tab" aria-controls="JavaScript" aria-selected="true">JavaScript<br>
                    +17.3 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-React-JS-tab" data-bs-toggle="pill" data-bs-target="#pills-React-JS"
                    type="button" role="tab" aria-controls="pills-React-JS" aria-selected="false">React JS<br>
                    +8 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-Angular-tab" data-bs-toggle="pill" data-bs-target="#pills-Angular"
                    type="button" role="tab" aria-controls="pills-Angular" aria-selected="false">Angular<br>
                    +4 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-java-tab" data-bs-toggle="pill" data-bs-target="#pills-java"
                    type="button" role="tab" aria-controls="pills-java" aria-selected="false">جافا<br>
                    +15.5 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-android-tab" data-bs-toggle="pill" data-bs-target="#pills-android"
                    type="button" role="tab" aria-controls="pills-android" aria-selected="false">تطوير الأندرويد<br>
                    +8 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-CSS-tab" data-bs-toggle="pill" data-bs-target="#pills-CSS"
                    type="button" role="tab" aria-controls="pills-CSS" aria-selected="false">CSS<br>
                    +4 مليون متعلم</button>
                </li>
                <li class="nav-item py-2" role="presentation">
                  <button class="nav-link" id="pills-web-tab" data-bs-toggle="pill" data-bs-target="#pills-web"
                    type="button" role="tab" aria-controls="pills-web" aria-selected="false">تطوير الويب<br>
                    +13.3 مليون متعلم</button>
                </li>
              </ul>
              <div class="tab-content mb-" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-JavaScript" role="tabpanel" aria-labelledby="pills-JavaScript-tab"
                  tabindex="0">
                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesJS"   class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="container mt-4">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all JavaScript courses" | transloco}}</button>
                  </div>

                  </div>

                </div>
                <div class="tab-pane fade" id="pills-React-JS" role="tabpanel" aria-labelledby="pills-React-JS-tab" tabindex="0">
                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesReact" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all React courses" | transloco}}</button>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-Angular" role="tabpanel" aria-labelledby="pills-Angular-tab"
                  tabindex="0">
                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesAngylar" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all Angular courses" | transloco}}</button>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-java" role="tabpanel" aria-labelledby="pills-java-tab"
                  tabindex="0">.

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesJava" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all Java courses" | transloco}}</button>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-android" role="tabpanel" aria-labelledby="pills-android-tab"
                  tabindex="0">.

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesAndroud" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                

                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all Android courses" | transloco}}</button>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-CSS" role="tabpanel" aria-labelledby="pills-CSS-tab"
                  tabindex="0">.

                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesCSS" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all CSS  courses" | transloco}}</button>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab"
                  tabindex="0">.
                  <div class="container">
                    <div class="row">
                      <div *ngFor="let course of lecturesWEB" class="col-12 col-md-6 col-lg-4 mb-4"
                      
                
                      >
                        <div class="card lecture-card">
                          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
                            <div class="video-thumbnail">
                              <div class="vid-img">
                                <img alt="" [src]="course.src">
                              </div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ course.courseTitle }}</h5>
                              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
                              <p class="content">{{ course.rate }}
                                <!-- <span [innerHTML]="course.rate"> </span> -->
                                <i class="fa-solid fa-star text-warning"></i>
                  
                                <span class="text-muted"> {{ course.watched }}</span>
                              </p>
                              <p>{{ course.pricing.price }} LE</p>
                             </div>
                          </div>
                           <div class="d-flex justify-content-between px-2 pb-3">
                            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">Add to Cart</button>
                            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">Remove from Cart</button>
                            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
                            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container mt-4 ">
                      <button class="btn btn-outline-primary btn-lg " routerLink="development-courses">{{"home.secondary-section-home.view all Web Development courses" | transloco}}</button>
                  </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-Offer-Productivity" role="tabpanel" aria-labelledby="pills-Offer-Productivity-tab" tabindex="0">

        </div>
        <div class="tab-pane fade" id="pills-Health-&-Fitness" role="tabpanel" aria-labelledby="pills-Health-&-Fitness-tab"
          tabindex="0">

        </div>
        <div class="tab-pane fade" id="pills-Marketing" role="tabpanel" aria-labelledby="pills-Graphic-tab"
          tabindex="0">.

        </div>
        <div class="tab-pane fade" id="pills-Business" role="tabpanel" aria-labelledby="pills-Business-tab"
          tabindex="0">.

        </div>
        <div class="tab-pane fade" id="pills-Design" role="tabpanel" aria-labelledby="pills-Design-tab"
        tabindex="0">.

      </div>
      <div class="tab-pane fade" id="pills-IT-&-Software" role="tabpanel" aria-labelledby="pills-IT-&-Software-tab"
      tabindex="0">.

    </div>
    <div class="tab-pane fade" id="pills-Finance-&-Accounting" role="tabpanel" aria-labelledby="pills-Finance-&-Accounting-tab" tabindex="0">

  </div>
        </div>
      </div>
    </div>




  </div>
</section>
