

<nav class="navbar navbar-expand-lg desktop-navbar">
  <div class="container-fluid d-flex align-items-center">
    <!-- الشعار -->
    <div class=""><img [src]="logoSrc" alt="Logo"></div>

    <!-- قائمة التنقل العادية -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav me-auto align-items-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="studentHome">{{ "second-navbar.home" | transloco }}</a>
        </li>
      </ul>

      <form class="d-flex mx-auto" style="flex-grow: 1; max-width: 500px;">
        <input class="form-control text-end" type="search" [attr.placeholder]="'second-navbar.search' | transloco" aria-label="Search" style="border-radius: 20px;">
      </form>

      <ul class="navbar-nav ms-auto align-items-end">




        <li class="nav-item">
          <a class="nav-link" routerLink="explore">{{ "second-navbar.explore" | transloco }}</a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'teacher'">
          <a class="nav-link text-black" routerLink="instructor-profile" >{{ "second-navbar.instructor" | transloco }}</a>
        </li>
        <li class="nav-item" *ngIf="userRole === 'student'">
          <a class="nav-link text-black" routerLink="student-profile" >{{ "second-navbar.student" | transloco }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" *ngIf="userRole === 'student'"  routerLink="my-courses">{{ "second-navbar.my courses" | transloco }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" *ngIf="userRole === 'student'"  routerLink="students-orders">{{ "second-navbar.my orders" | transloco }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black " *ngIf="userRole === 'student'"  routerLink="wishedList" ><app-wishlist-icon></app-wishlist-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" *ngIf="userRole === 'student'"  routerLink="cart" ><app-cart-icon></app-cart-icon></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" ><i class="fa-solid fa-bell"></i></a>
        </li>

        <li class="nav-item ms-3 me-3" *ngIf="userRole === 'teacher'">
          <a class="nav-link text-black position-relative" routerLink="/orders">
            <i class="fa-solid fa-wallet me-2"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{ totalEarnings | number:'1.2-2' }}
            </span>
          </a>
        </li>


        <li class="nav-item position-relative">
          <div class="first-letter">
            <!-- لو في صورة -->
<img *ngIf="profileImg && profileImg !== '../../assets/download.jfif'"
     [src]="profileImg"
     class="rounded-circle"
     style="width: 50px; height: 50px;" />

<!-- لو مفيش صورة -->
<span *ngIf="profileImg === '../../assets/download.jfif'">
  {{ firstLetter }}
</span>

            <div class="profile-menu">
              <div class="text-center">
                <div class="d-flex align-items-center mb-3 gap-3">
                  <div class="first-letterr">
                    <span class="rounded-circle  text-white d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; font-size: 24px;">
                      <!-- لو في صورة -->
<img *ngIf="profileImg && profileImg !== '../../assets/download.jfif'"
     [src]="profileImg"
     class="rounded-circle"
     style="width: 50px; height: 50px;" />

<!-- لو مفيش صورة -->
<span *ngIf="profileImg === '../../assets/download.jfif'">
  {{ firstLetter }}
</span>

                    </span>
                  </div>
                  <div class="text-start">
                    <h5 class="mb-0">{{fullName}}</h5>
                    <p class="text-muted mb-0">{{email}}</p>
                  </div>
                </div>
                <!-- <a  class="text-primary" routerLink="instructor-profile">{{ "second-navbar.Instructor Profile" | transloco }}</a> -->
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngIf="userRole === 'student'" routerLink="student-profile" n>{{ "second-navbar.Student Profile" | transloco }}</li>
                <li class="list-group-item"  routerLink="my-courses">{{ "second-navbar.my courses" | transloco }}</li>
                <li class="list-group-item"  routerLink="cart">{{ "second-navbar.My Cart" | transloco }}</li>
                <li class="list-group-item" routerLink="wishedList">{{ "second-navbar.Wishlist" | transloco }}</li>
                <li class="list-group-item" *ngIf="userRole === 'teacher'" routerLink="instructor-profile" >{{ "second-navbar.Instructor Dashboard" | transloco }}</li>
                <li class="divider"></li>

                <li class="list-group-item">{{ "second-navbar.Notifications" | transloco }}</li>
                <li class="list-group-item">{{ "second-navbar.Messages" | transloco }}</li>
                <li class="divider"></li>

                <li class="list-group-item">{{ "second-navbar.Account Settings" | transloco }}</li>
                <li class="list-group-item">{{ "second-navbar.Payment Methods" | transloco }}</li>
                <li class="divider"></li>

                <li class="list-group-item"  (click)="changeLang()">{{ "second-navbar.Language" | transloco }}</li>
                <li class="divider"></li>

                <li class="list-group-item">{{ "second-navbar.Help and Support" | transloco }}</li>
                <li class="list-group-item text-danger" (click)="logout()"> {{ "second-navbar.Log out" | transloco }}</li>
              </ul>

            </div>
          </div>
        </li>


      </ul>
    </div>
    <!-- صورة الملف الشخصي -->
    <!-- <div class="profile-circle">H</div> -->
  </div>
</nav>



<!-- ✅ Navbar للأجهزة الصغيرة (Mobile & Tablet) -->
<nav class="navbar mobile-navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- زر القائمة الجانبية -->
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- الشعار -->
    <div class="text-center site-logo"><img [src]="logoSrc" alt="Logo"></div>

    <!-- صورة الملف الشخصي -->
    <div class="profile-circle">
            <!-- لو في صورة -->
<img *ngIf="profileImg && profileImg !== '../../assets/download.jfif'"
     [src]="profileImg"
     class="rounded-circle"
     style="width: 50px; height: 50px;" />

<!-- لو مفيش صورة -->
<span *ngIf="profileImg === '../../assets/download.jfif'">
  {{ firstLetter }}
</span></div>
  </div>
</nav>

<!-- ✅ القائمة الجانبية (Sidebar) -->
<div class="offcanvas offcanvas-start" [class.show]="isSidebarOpen">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button class="close-btn" (click)="toggleSidebar()">✖</button>
  </div>



  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-section"><a class="nav-link" routerLink="studentHome">{{ "second-navbar.home" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="explore">{{ "second-navbar.explore" | transloco }}</a></li>

      <li class="nav-item"><a class="nav-link" *ngIf="userRole === 'student'" routerLink="student-profile"  >{{ "second-navbar.Student Profile" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link" *ngIf="userRole === 'teacher'" routerLink="instructor-profile"  >{{ "second-navbar.Instructor Profile" | transloco }}</a></li>
      <!-- <li class="nav-section">Account</li> -->
      <li class="nav-item"><a class="nav-link" *ngIf="userRole === 'student'"  routerLink="my-courses" >{{ "second-navbar.my courses" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link" *ngIf="userRole === 'student'"  routerLink="cart" >{{ "second-navbar.My Cart" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link" *ngIf="userRole === 'student'" routerLink="wishedList"  >{{ "second-navbar.Wishlist" | transloco }} </a></li>

      <li class="nav-item"><a class="nav-link"   >{{ "second-navbar.Notifications" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link"   >{{ "second-navbar.Messages" | transloco }}</a></li>
      <!-- <li class="nav-section">Profile</li> -->
      <li class="nav-item"><a class="nav-link"   >{{ "second-navbar.Account Settings" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link"   >{{ "second-navbar.Payment Methods" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link" (click)="changeLang()"  >{{ "second-navbar.Language" | transloco }}</a></li>


      <li class="nav-item"><a class="nav-link"   >{{ "second-navbar.Help and Support" | transloco }}</a></li>
      <li class="nav-item"><a class="nav-link" (click)="logout()"   >{{ "second-navbar.Log out" | transloco }}</a></li>
    </ul>
  </div>
</div>
















<!-- <li class="nav-item">
          <a class="nav-link text-black" (click)="changeLang()" ><i class="fa-sharp fa-solid fa-globe"></i></a>
        </li> -->
