<div class="popup-backdrop" *ngIf="isOpen">
    <div class="popup-content">
        <h4>{{ 'course-exam.confirm_finish_title' | transloco }}</h4>
        <div class="summary-info">
            <p>
                {{ 'course-exam.answered_questions_count' | transloco }}:
                <span class="answered">{{ answeredCount }}</span>
            </p>
            <p>
                {{ 'course-exam.unanswered_questions_count' | transloco }}:
                <span class="unanswered">{{ unansweredCount }}</span>
            </p>
        </div>
        <div class="popup-actions">
            <button (click)="onCancel()">{{ 'course-exam.cancel' | transloco }}</button>
            <button class="confirm-btn" (click)="onConfirm()">
        {{ 'course-exam.confirm' | transloco }}
      </button>
        </div>
    </div>
</div>