<app-navbar></app-navbar>
<section class="py-5">
  <div class="container mt-4">
    <h2>{{ 'cart.Shopping Cart' | transloco }}</h2>
    <p>{{ cartItems.length }}  {{ 'cart.courses in cart' | transloco }}</p>

    <div *ngFor="let item of cartItems; let i = index" class="row border-bottom py-3">
      <div class="col-md-8">
        <div class="row">
        <div class="col-md-4">
          <div class="vid-img">
            <img alt="" [src]="item.src">
          </div>
        </div>
        <div class="col-md-4">
          <h5 class="py-2">{{ item.courseTitle }}</h5>
          <p >{{ item.rate }}
            <i class="fa-solid fa-star text-warning mx-1"></i>
            <span class="text-muted"> {{ item.watched }}</span>
          </p>
          <p><strong>Price:</strong> {{ item.pricing.price }} LE</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-colors  " (click)="removeItem(item.id)">{{ 'cart.Remove' | transloco }}</button>

          <div>
            <!-- <button class="btn btn-color ps-0" (click)="addToWishList(item)" >Move to wishlist</button> -->
            <button class="btn btn-color heart " *ngIf="!item.isInWishlist" (click)="addToWishList(item)">{{ 'cart.Move to wishlist' | transloco }}</button>
            <button class="btn btn-color heart " *ngIf="item.isInWishlist" (click)="removeFromWishList(item)">{{ 'cart.Remove from wishlist' | transloco }}</button>

          </div>



        </div>
        </div>





      </div>
      <div class="col-md-4 ">

      </div>
    </div>

    <div class="py-3">
      <h4> {{ 'cart.Total Price:' | transloco }}<strong>{{ totalPrice }} LE</strong></h4>
      <div class="d-flex">
<!-- زر الـ Checkout -->
<div class="py-2 pe-2">
  <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#loginModal">{{ 'cart.Checkout' | transloco }}</button>
</div>

<!-- الـ Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title mx-2" id="loginModalLabel">{{ 'cart.alert' | transloco }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
          </div>
          <div class="modal-body">
            <p>{{ 'cart.Please Login First' | transloco }}</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'cart.Close' | transloco }}</button>
          </div>
      </div>
  </div>
</div>

      <div class="py-2 "><button class="btn btn-outline-primary mx-2 " routerLink="explore-courses">{{ 'cart.Continue Shopping' | transloco }}</button></div>
      </div>

    </div>


  </div>

</section>

<app-recently-wished-listed></app-recently-wished-listed>
<app-similar-courses></app-similar-courses>

