<section class="why">
  <div class="why-section text-center">
      <div class="container">
      <h2> {{ "about.why_join_us" | transloco }}</h2>

      <div class="row mt-4 py-3 ">

        <div class="col-md-4">
            <div class="icon-box">
                <img src="assets/4.png" alt="{{ 'about.get_rewards' | transloco }}">
                <h5 class="mt-2 py-2"> {{ 'about.get_rewards' | transloco }} </h5>
                <p class="text-muted">{{ 'about.get_rewards_desc' | transloco }}</p>
              </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box">
              <img src="assets/5.png" alt="{{ 'about.motivate_learners' | transloco }}">
              <h5 class="mt-2 py-2"> {{ 'about.motivate_learners' | transloco }} </h5>
              <p class="text-muted">{{ 'about.motivate_learners_desc' | transloco }}</p>
          </div>
      </div>
        <div class="col-md-4">
          <div class="icon-box">
              <img src="assets/6.png" alt="{{ 'about.teach_your_way' | transloco }}">
              <h5 class="mt-2 py-2"> {{ 'about.teach_your_way' | transloco }} </h5>
              <p class="text-muted">{{ 'about.teach_your_way_desc' | transloco }}</p>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>
