<div class="container-fluid">
  <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- العنصر الأول -->
        <div class="carousel-item active">
          <div class="container my-5">
            <div class=" row testimonial p-4 align-items-center">
             <div class="col-md-6">
              <div class="testimonial-content ms-4 p-4">
                <p class="testimonial-quote mb-2 ">
                  {{ 'about.testimonial_quote_1' | transloco }}
                </p>
                <p class="testimonial-author fw-bold ">{{ 'about.testimonial_author_1' | transloco }}</p>
                <p class="testimonial-role text-muted ">{{ 'about.testimonial_role_1' | transloco }}</p>
              </div>
             </div>
             <div class="col-md-6">
              <img
              src="assets/unsplash_caOuGgyfu8s.png"
              alt="Profile Picture" />
            </div>
           </div>
          </div>
        </div>
        <!-- العنصر الثاني -->
        <div class="carousel-item">
          <div class="container my-5">
              <div class=" row testimonial p-4 align-items-center">
               <div class="col-md-6">
                <div class="testimonial-content ms-4 p-4">
                  <p class="testimonial-quote mb-2 ">
                    {{ 'about.testimonial_quote_2' | transloco }}
                  </p>
                  <p class="testimonial-author fw-bold ">{{ 'about.testimonial_author_2' | transloco }}</p>
                  <p class="testimonial-role text-muted ">{{ 'about.testimonial_role_2' | transloco }}</p>
                </div>
               </div>
               <div class="col-md-6">
                <img
                src="assets/unsplash_caOuGgyfu8s.png"
                alt="Profile Picture" />
              </div>
             </div>
            </div>
      </div>
      <!-- أزرار التحكم -->
      <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonialCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="visually-hidden">{{ 'about.previous' | transloco }}</span>
    </button>
    </div>
  </div>
