<section class="pt-5">
  <div class="container-fluid px-3">
    <h2 class="Continue-learning fw-bold">
      {{ "secondHome.recommended videos" | transloco }}
    </h2>

    <div class="container-fluid mt-4">
      <div class="scroll-container"
           (touchstart)="onTouchStart($event)"
           (touchmove)="onTouchMove($event)"
           (touchend)="onTouchEnd()">
        <div class="scroll-content d-flex">
          <div class="card lecture-card" *ngFor="let item of lectures"
               style="cursor: pointer;">
            <div class="row g-0">
              <div class="col-md-12 video-thumbnail w-100"  (click)="goToCourseDetails(item)">
                <div class="vid-img"><img alt="" [src]='item.thumbnailUrl' style="width: 100%; height: 250px;"></div>
                <!-- <div class="play-icon"><i class="fa-solid fa-play"></i></div> -->
              </div>
              <div class="col-md-12 card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text small text-muted">{{item.description}}</p>
                <p class="content">{{item.rate}} <i class="fa-solid fa-star text-warning mx-1"></i> <span class="text-muted">{{item.watched}}</span></p>
                <p>{{item.price}} <span class="text-success"> {{item.currency}}</span></p>
                <div class="d-flex justify-content-between">
               <!-- Add to Cart -->
<button
  class="btn btn-design1"
  *ngIf="!item.isInCart"
  (click)="userRole === 'student' ? addToCart(item) : openStudentOnlyModal();"
>
  Add to Cart
</button>

<!-- Remove from Cart -->
<button
  class="btn btn-design2"
  *ngIf="item.isInCart"
  (click)="userRole === 'student' ? removeFromCart(item) : openStudentOnlyModal();"
>
  Remove from Cart
</button>

<!-- Add to Wishlist -->
<button
  class="btn heart"
  *ngIf="!item.isInWishlist"
  (click)="userRole === 'student' ? addToWishList(item) : openStudentOnlyModal();"
>
  <i class="fa-regular fa-heart"></i>
</button>

<!-- Remove from Wishlist -->
<button
  class="btn heart"
  *ngIf="item.isInWishlist"
  (click)="userRole === 'student' ? removeFromWishList(item) : openStudentOnlyModal();"
>
  <i class="fa-solid fa-heart"></i>
</button>
 </div>
 <div
  class="modal fade"
  id="studentOnlyModal"
  tabindex="-1"
  aria-labelledby="studentOnlyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-center p-4">
      <div class="modal-header border-0">
        <h5 class="modal-title w-100" id="studentOnlyModalLabel">
          {{ 'student-modal.title' | transloco }}
        </h5>
      </div>
      <div class="modal-body">
        {{ 'student-modal.body' | transloco }}
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          {{ 'student-modal.okButton' | transloco }}
        </button>
      </div>
    </div>
  </div>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
