


<app-navbar></app-navbar>
<app-courses-home></app-courses-home>



<section class="py-5">
  <div class="container">
    <!-- حقل البحث -->
    <input
      type="text"
      class="form-control mb-3"
      [attr.placeholder]="'recently-wished.Search for a course...' | transloco"
      [(ngModel)]="searchQuery"
    />

    <div class="row">
      <div *ngFor="let course of paginatedCourses" class="col-12 col-md-6 col-lg-4 mb-4"


      >
        <div class="card lecture-card">
          <div (click)="goToCourseDetails(course)" style="cursor: pointer;">
            <div class="video-thumbnail">
              <div class="vid-img">
                <img alt="" [src]="course.src">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ course.courseTitle }}</h5>
              <p class="card-text small text-muted">{{ course.landingPage.description }}</p>
              <p class="content">{{ course.rate }}
                <!-- <span [innerHTML]="course.rate"> </span> -->
                <i class="fa-solid fa-star text-warning"></i>

                <span class="text-muted"> {{ course.watched }} </span>
                <i class="fa-solid fa-eye text-primary"></i>

              </p>
              <p>{{ course.pricing.price }} LE</p>
             </div>
          </div>
           <div class="d-flex justify-content-between px-2 pb-3">
            <button class="btn  btn-design1" *ngIf="!course.isInCart" (click)="addToCart(course)">{{"recently-wished.Add to Cart" | transloco}}</button>
            <button class="btn btn-design2" *ngIf="course.isInCart" (click)="removeFromCart(course)">{{"recently-wished.Remove from Cart" | transloco}}</button>
            <button class="btn  heart " *ngIf="!course.isInWishlist" (click)="addToWishList(course)"><i class="fa-regular fa-heart"></i></button>
            <button class="btn  heart" *ngIf="course.isInWishlist" (click)="removeFromWishList(course)"><i class="fa-solid fa-heart"></i></button>
          </div>
        </div>
      </div>
    </div>


    <!-- أزرار التنقل -->
    <div class="pagination">
      <button *ngFor="let page of totalPagesArray" (click)="changePage(page)" [class.active]="page === currentPage">
        {{ page }}
      </button>
    </div>
  </div>
</section>
