<!-- Button to open modal -->
<button class="btn btn-outline-primary" (click)="openModal()">
  {{ 'quiz.create_new1' | transloco }}
</button>
<!-- Modal -->
<div class="modal fade" id="quizModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%;">
    <div class="modal-content p-4">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-3" (click)="closeModal()"></button>
  
      <h3 class="text-center fw-bold mb-3">{{ 'quiz.create' | transloco }}</h3>
  
      <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
        <!-- Course Info -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">{{ 'quiz.course_name' | transloco }}</label>
            <input type="text" class="form-control" formControlName="courseName">
          </div>
          <div class="col-md-6">
            <label class="form-label">{{ 'quiz.category' | transloco }}</label>
          <select formControlName="categoryId" class="form-select">
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
         </div>
        </div>
  
        <div class="row mb-3">
         
          <div class="col-md-12">
            <label class="form-label">{{ 'quiz.duration' | transloco }}</label>
            <input type="number" class="form-control" formControlName="duration">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">{{ 'quiz.attempts' | transloco }}</label>
            <input type="number" class="form-control" formControlName="attempts">
          </div>
          <div class="col-md-6">
            <label class="form-label">{{ 'quiz.passing_score' | transloco }}</label>
            <input type="number" class="form-control" formControlName="passingPercentage">
          </div>
        </div>
  <!-- Is Free -->
  <div class="mb-3">
    <label class="form-label">{{ 'quiz.is_free' | transloco }}</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" formControlName="isFree" [value]="true" id="freeYes">
      <label class="form-check-label" for="freeYes">{{ 'quiz.free' | transloco }}</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" formControlName="isFree" [value]="false" id="freeNo">
      <label class="form-check-label" for="freeNo">{{ 'quiz.paid' | transloco }}</label>
    </div>
  </div>
  <!-- Price if not free -->
  <div class="mb-3" *ngIf="quizForm.get('isFree')?.value === false">
    <label class="form-label">{{ 'quiz.price' | transloco }}</label>
    <input type="number" class="form-control" formControlName="price">
  </div>
  
        <div class="mb-3">
          <label class="form-label">{{ 'quiz.description' | transloco }}</label>
          <textarea class="form-control" formControlName="examDescription"></textarea>
        </div>
        <!-- Quiz Type Selection -->
        <div class="mb-3">
          <label class="form-label">{{ 'quiz.quiz_type' | transloco }}</label>
            <select class="form-select" formControlName="quizType" (change)="onQuizTypeChange()">
             <option value="mcq">{{ 'quiz.mcq' | transloco }}</option>
             <option value="essay">{{ 'quiz.essay' | transloco }}</option>
            </select>
        </div>
    
  
        <button type="submit" class="btn btn-success mt-3">
          {{ 'quiz.save' | transloco }}
        </button>
        <div *ngIf="errorMessages.length" class="alert alert-danger mt-3">
            <li *ngFor="let msg of errorMessages">
                {{ msg.split('|')[0] | transloco: extractParams(msg) }}
              </li>
        </div>
    
      </form>
    </div>
  </div>
  </div>


