<app-second-nav></app-second-nav>


<section class="py-5">
  <div class="container">
<div class="row ">
<div class="col-md-4  p-2">
  <div class="card p-3 d-flex justify-content-center align-items-center "  routerLink="course-content">
 <img src="/assets/online-education_9821212.png" alt="Course Icon" class="img-fluid mb-3" />
  <h5 class="text-center">{{ "courseParts.Course Content" | transloco }}</h5>
  </div>

</div>

<div class="col-md-4  p-2">
  <div class="card p-3 d-flex justify-content-center align-items-center " routerLink="course-attachments">
  <img src="/assets/file_2246708.png" alt="Course Icon" class="img-fluid mb-3" />
  <h5 class="text-center">{{ "courseParts.Course Attachments" | transloco }}</h5>
  </div>

</div>

<div class="col-md-4  p-2">
  <div class="card p-3 d-flex justify-content-center align-items-center " routerLink="course-exams">
  <img src="/assets/school_15292389.png" alt="Course Icon" class="img-fluid mb-3" />
  <h5 class="text-center">{{ "courseParts.Course Exams" | transloco }}</h5>
  </div>

</div>


<div class="col-md-4  p-2">
  <div class="card p-3 d-flex justify-content-center align-items-center " routerLink="course-exams-results">
  <img src="/assets/exam_15600041.png" alt="Course Icon" class="img-fluid mb-3" />
  <h5 class="text-center">{{ "courseParts.Exam results for the course" | transloco }}</h5>
  </div>

</div>
<div class="col-md-4  p-2">
  <div class="card p-3 d-flex justify-content-center align-items-center " routerLink="course-reports">
<img src="/assets/document_6828825.png" alt="Course Icon" class="img-fluid mb-3" />
  <h5 class="text-center">{{ "courseParts.Reports" | transloco }}</h5>
  </div>

</div>


</div>
  </div>
</section>
