<section class="py-5">
  <div class="container text-center my-5">
    <h2 class="fw-bold pb-4">{{ "home.third-section-home.invest in your career with us" | transloco }}</h2>
    <p class="text-muted">{{ "home.third-section-home.writing an English paragraph" | transloco }}</p>

    <div class="row mt-4 py-3 ">


        <div class="col-md-3">
            <div class="icon-box">
                <img src="assets/Frame 48.png" alt="احصل على العروض">
                <h5 class="mt-2 py-2">{{ "home.third-section-home.get Offers" | transloco }}</h5>
                <p class="text-muted">{{ "home.third-section-home.writing an English Paragraph is one of the most important ways to teach English learners to write" | transloco }}</p>
              </div>
        </div>
        <div class="col-md-3">
          <div class="icon-box">
              <img src="assets/Frame 49.png" alt="التعلم المرن">
              <h5 class="mt-2 py-2">{{ "home.third-section-home.flexible Learning" | transloco }}</h5>
              <p class="text-muted">{{ "home.third-section-home.writing an English Paragraph is one of the most important ways to teach English learners to write" | transloco }}</p>
          </div>
      </div>
        <div class="col-md-3">
          <div class="icon-box">
              <img src="assets/Frame 50.png" alt="احصل على شهادتك">
              <h5 class="mt-2 py-2">{{ "home.third-section-home.get Your Certificate" | transloco }}</h5>
              <p class="text-muted">{{ "home.third-section-home.writing an English Paragraph is one of the most important ways to teach English learners to write" | transloco }}</p>
          </div>
      </div>
        <div class="col-md-3">
          <div class="icon-box">
              <img src="assets/Frame 51.png" alt="استكشف الدورات">
              <h5 class="mt-2 py-2">{{ "home.third-section-home.explore Courses" | transloco }}</h5>
              <p class="text-muted">{{ "home.third-section-home.writing an English Paragraph is one of the most important ways to teach English learners to write" | transloco }}</p>
          </div>
      </div>
    </div>
</div>



</section>
