<section>

  <h2 class="text-center">{{ 'about.explain_courses' | transloco }}</h2>

  <section id="portfolio" class="Portfolio mb-5 pt-5">

    <div class="container-fluid">

      <div class="row">

        <div>

          <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">

            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-Recorded-courses-tab" data-bs-toggle="pill" data-bs-target="#pills-Recorded-courses"
                type="button" role="tab" aria-controls="pills-Recorded-courses" aria-selected="true">{{ 'about.recorded_courses' | transloco }}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Live-courses-tab" data-bs-toggle="pill" data-bs-target="#pills-Live-courses"
                type="button" role="tab" aria-controls="pills-Live-courses" aria-selected="false">{{ 'about.live_courses' | transloco }}</button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Live-recorded-courses-tab" data-bs-toggle="pill" data-bs-target="#pills-Live-recorded-courses"
                type="button" role="tab" aria-controls="pills-Live-recorded-courses" aria-selected="false">{{ 'about.live_recorded_courses' | transloco }}</button>
            </li>


            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-Online-Questions-tab" data-bs-toggle="pill" data-bs-target="#pills-Online-Questions"
                type="button" role="tab" aria-controls="pills-Online-Questions" aria-selected="false">{{ 'about.online_questions' | transloco }}</button>
            </li>





          </ul>
          <div class="tab-content mb-" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-Recorded-courses" role="tabpanel" aria-labelledby="pills-Recorded-courses-tab"
            tabindex="0">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <img src="assets/Studying-rafiki.png" alt="">
                </div>
                <div class="col-md-6 d-flex align-items-center">

                  <div class="">
                    <h4 class="py-3">{{ 'about.recorded_courses' | transloco }}</h4>
                    <p>{{ 'about.recorded_courses_desc' | transloco }}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-Live-courses" role="tabpanel" aria-labelledby="pills-Live-courses-tab"
          tabindex="0">
          <div class="container">

            <div class="row">
              <div class="col-md-6">
                <img src="assets/Studying-rafiki.png" alt="">
              </div>
              <div class="col-md-6">

              </div>

            </div>

          </div>
        </div>
        <div class="tab-pane fade" id="pills-Live-recorded-courses" role="tabpanel" aria-labelledby="pills-Live-recorded-courses-tab" tabindex="0">
          <div class="container">

            <div class="row">
              <div class="col-md-6">
                <img src="assets/Studying-rafiki.png" alt="">
              </div>
              <div class="col-md-6">

              </div>

            </div>

          </div>
        </div>

            <div class="tab-pane fade" id="pills-Online-Questions" role="tabpanel" aria-labelledby="pills-Online-Questions-tab"
              tabindex="0">
              <div class="container">

                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/Studying-rafiki.png" alt="">
                  </div>
                  <div class="col-md-6">

                  </div>

                </div>

              </div>
            </div>





          </div>
        </div>
      </div>

    </div>
  </section>

  </section>
